@{
    ViewData["Title"] = "Home Page";
}
@model List<Dish>
<div class="jumbotron jumbotron-fluid">
    <h1>Welcome to CRUDelicous</h1>
</div>
<div class="container">
    
    <div class="row">
        <p class = "col-sm">Check out some recent dishes!</p>
        <a href="/create" class= "col-sm">Add A Dish</a>
    </div>
    <table class= "table">
        <thead>
            <th>Dish Name</th>
            <th>Chef Name</th>
        </thead>
        <tbody>
            @foreach (Dish d in Model)
            {
                    <tr>
                        <td><a href="/@d.DishId">@d.Name</a></td>
                        <td>@d.Chef</td>
                    </tr>
            }
        </tbody>

    </table>    


</div>